.resources-page {
  text-align: center;
  padding: 20px;
}

.resources-page .description {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #333;
}

.resources-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: lightgreen;
  transition: background-color 0.3s;
  color: black;
  width: 250px; 
  height: 250px; 
}

.card:hover {
  background-color: #a8d5a8;
}

.card h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  color: black;
}

.card a {
  text-decoration: none;
  color: inherit;
}